.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: white;
}

.formWrapper {
  background: black;
  color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  width: 100%;
  max-width: 360px;
}

.title {
  margin-bottom: 20px;
  font-size: 24px;
  text-align: center;
  color: white;
}

.formContent {
  display: flex;
  flex-direction: column;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.inputWithButton {
  display: flex;
  align-items: center;
}

.input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  color: black;
}

.errorInput {
  border-color: red;
}

.error {
  color: red;
  font-size: 14px;
}

.submitButton {
  padding: 10px 20px;
  background: linear-gradient(90deg, #007bff9f, #800080);
  border: none;
  color: #fff;
  cursor: pointer;
  width: 100%;
  border-radius: 4px;
}

.loginLink {
  margin-top: 20px;
  font-size: 14px;
  text-align: center;
}

.timer {
  margin-top: 20px;
  font-size: 14px;
  color: #666;
  text-align: center;
}

.resendButton {
  background: linear-gradient(90deg, #007bff9f, #800080);
  cursor: pointer;
  text-align: center;
  margin-top: 10px;
  color: white;
  padding: 5px;
  border-radius: 4px;
}
