psycopg2-binary==2.9.9
django==5.1  # Removed duplicate 'django==5.0.1'
django-cockroachdb==5.0
google-auth==2.15.0
google-auth-oauthlib==0.8.0
google-auth-httplib2==0.1.0
djangorestframework==3.15.2  # Updated to the latest used version
django-cors-headers==4.4.0   # Updated to match the latest used version
asgiref==3.8.1
sqlparse==0.5.1
tzdata==2024.1
