
.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    background-size: cover; /* Scales the image to cover the container */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat;
    /* Set background color to black */
  }
  
  .main {
    
    padding:0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height:100%;
    
  }
  
  .card {
    background-color: black;
    color:white;
     /* Card background color */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    width: 100%;
    max-width: 360px; /* Card width */
  }
  
  .title {
    font-size: 2rem;
    margin-bottom: 1rem;
    align-items: center;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .formGroup {
    margin-bottom: 1rem;
  }
  
  .formGroup label {
    display: block;
    margin-bottom: 0.5rem;
  }
  
  .formGroup input {
    width: 92%; /* Make input fields full width */
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    align-items: center;
    color: black;
  }
  
  .checkboxContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  .forgotPassword {
    font-size: 0.875rem;
    color: #9067b1;
    text-decoration: none;
  }
  
  .forgotPassword:hover {
    text-decoration: underline;
  }
  
  .button {
    padding: 0.5rem; /* Adjust padding for desired thickness */
    width: 100%; /* Make button width match input fields */
    border: none;
    border-radius: 4px;
    background-color: purple;
    color: white;
    font-size:1rem;
    cursor: pointer;
    margin-bottom: 0.5rem;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
  }
  
  
  .googlebutton{
    
    background-color: rgb(201, 22, 22);
    padding: 0.5rem; /* Adjust padding for desired thickness */
    width: 100%; /* Make button width match input fields */
    border: none;
  
    border-radius: 4px;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    color: white;
    font-size:1rem;
    cursor: pointer;
    margin-bottom: 0.5rem;
    
  }
  /* styles/Login.module.css */
  
  .loginMessage {
    margin-top: 1rem;
    padding: 0.5rem;
    color: green; /* Color for success message */
    font-size: 1rem;
    text-align: center;
  }
  
  .or{
    align-self: center;
    color: grey;
    margin-bottom: 2px;
    
  }